streamlit==1.36.0
pandas==2.2.2
numpy==1.26.4
pyarrow==16.1.0
openpyxl==3.1.5
xlrd==2.0.1
plotly==5.22.0
SQLAlchemy==2.0.31
python-docx==1.1.2
fpdf2==2.7.9
protobuf==4.25.3
pillow==10.4.0
